.o-sidebar {
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
  z-index: 101;
  align-items: center;
  transform: translateX(0);
  transition: transform .2s ease-in-out;
  @include mds-breakpoint('to-tablet-p') {
    width: 100%;
  }
  @include mds-breakpoint('to-tablet-p') {
    width: 100% !important;
  }
  &__hide {
    transform: translateX(-100%);
    transition: transform .2s ease-in-out;
  }
  &__brand {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 70%;
    height: auto;
    justify-self: center;
    text-transform: uppercase;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    @include mds-breakpoint('to-tablet-p') {
      width: auto;
      height: auto;
      font-size: 20rem;
      justify-self: center;
    }
    @include mds-breakpoint('phone') {
      width: auto;
      height: auto;
      font-size: 10rem !important;
      justify-self: center;
    }
  }
  &__main, &__sec {
    &__title {
      color: #4D5261;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: .9rem;
      padding-left: 20%;
      margin-bottom: 10px;
    }
  }
  &__main {
    &__content {
      display: flex;
      flex-direction: column;
      &__item {
        color: white;
        margin: 10px 0;
        padding: 5px 0 5px 20%;
        font-weight: 800;
        font-size: 1.3rem;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        border-left: 2px solid $o-color-nav;
        &:hover {
          color: $o-color-main;
        }
        &__active {
          border-left: 2px solid $o-color-main;
          color: $o-color-main;
        }
        &__container {
           padding: 10px 0;
            @include mds-breakpoint('phone-small') {
              padding: 0;
            }
          }
      }

    }
  }
  &__sec {
    &__content {
      display: flex;
      flex-direction: column;
      &__container {
        padding: 5px 0;
        @include mds-breakpoint('phone-small') {
          padding: 0;
        }
      }
      &__item {
        color: #656a77;
        padding: 0 20%;
        font-weight: 600;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        &:hover {
          color: #898c92
        }
        &.active {
          color: #898c92;
        }
      }
    }
  }
  &--small {
    width: 90px !important;
    box-shadow: 4px 1px 22px -3px rgba(0, 0, 0, .35);
    .o-sidebar--main {
      .sidebar-item-container {
        .sidebar-item {
          font-size: .9rem !important;
        }
      }
    }
    .o-sidebar--sec {
      .sidebar-item-container {
        .sidebar-item {
          font-size: .8rem;
        }
      }
    }
    .o-sidebar--main, .o-sidebar--sec {
      .title {
        font-size: .8rem;
      }
    }
  }
}

.toggle-sidebar {
  z-index: 102;
  position: fixed;
  top: 40px;
  left: 20px;
  font-size: 2.5rem;
  color: white;
  &:hover {
    cursor: pointer;
  }
  @include mds-breakpoint('to-tablet-p') {
    display: block !important;
  }
}

.hamburger {
  opacity: 1;
  transition: opacity .2s ease-in-out;
  &--close {
    margin-left: -50%;
  }
  &--hide {
    opacity: 0;
    transition: opacity .2s ease-in-out;
    animation: rotate-hamburger .3s ease-in-out;
    animation-iteration-count: 1;
  }
}

@keyframes rotate-hamburger {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(0deg);
  }
}