.o-main-layout {
  display: flex;
  font-family: Roboto, Arial, Helvetica, sans-serif;

  .o-sidebar {
    position: fixed;
    width: 35vh;
    height: 100%;
    top: 0;
    background-color: $o-color-nav;
    @include mds-breakpoint('phone') {
      width: 100vw;
    }
  }

  .o-main {
    padding-left: calc(18% + 30px);
    @include mds-breakpoint('phone') {
      padding-left: 0;
    }
    &.o-anime-view {
      padding-left: 90px;
      @include mds-breakpoint('phone') {
        padding-left: 20px;
      }
    }

    min-height: 100vh;
    width: 100%;
    background-color: $o-color-bg;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto

  }
}

.o-main {
  font-size: 5rem;
}