.people-row {
  margin-top: 100px;
  padding-right: 300px;
  .anime-content {
    width: 100%;
  }
}

.character-view {
  background-color: $o-color-bg;
  .anime {
    min-height: 70vw;
    height: auto;
  }
  .secondary-item {
    @include mds-breakpoint('to-tablet') {
      flex-direction: column;
      &__rightside {
        margin: 0;
        padding: 0;
      }
    }
  }
}
